<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	    <title>inoui Studio ~ a multidisciplinary collective</title>
    		<meta name="description" content="inoui studio, a multidisciplinary collective specialised in art direction and installation design, working in partnership with various players from the worlds of luxury, fashion, beauty, art and digital technologies." />
    		<meta name="keywords" content="inoui, digital, installation, windows, shop, art, creative, artistic, direction" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="http://static.tumblr.com/3zmswwt/D2Bmy1zgh/icon-embedded.css"/>
		<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
		<div id="wrapper" class="home ">

			<header class="menu">
				<div class="va">
					<h1>inoui studio</h1>
					<ul id="nav">
						<li class="action" data-action="gotoPart" data-part="about"><a href="/about">about</a></li>
						<li class="action" data-action="gotoPart" data-part="projects"><a href="/projects">projects</a></li>
						<li class="action" data-action="gotoPart" data-part="inspirations"><a href="/inspirations">inspirations</a></li>
						<li class="action" data-action="gotoPart" data-part="contact"><a href="/contact">contact</a></li>
					</ul>
				</div>
			</header>
			
			<section id="about" class="part">
				<div class="va content">
					<p><strong>Inoui is a multidisciplinary design collective specialising in art direction, installation and digital technologies within the realms of fashion, beauty, art, luxury and lifestyle.</strong></p>
				
					<div class="well">
						<p><strong>Working on projects which bring together different creative disciplines is what we enjoy most.</strong></p>
						<p>Over the years we have developed a variety of creative and commercial projects, with an emphasis on emerging technologies, interactivity and new media as well as a more traditional hands-on approach with illustration, photography and product design. </p>
						<p>The above-mentioned installation works are the continuation and the merging of the skills of each member of our team. Our experience ranges from illustration, set design, photography, interior design to video and programming. </p>
					</div>
				</div>
			</section>


			<section id="inspirations" class="part">
				<div class="content"> </div>
			</section>


			<section id="contact" class="part hidden">
				<div class="content" style="height:100%">
					

					<div class="add">
						<p class="address">6 CITÉ DES TROIS BORNES<br>
							75011 PARIS<br>
							FRANCE</p>
						<hr>
						<p><strong>Call:</strong>+33 (0) 1 83 62 83 42</p>
						<p><strong>Email:</strong> <a href="mailto:oui@inoui.io">oui@inoui.io</a></p>
						<div id="social">

							<a href="http://twitter.com/inouiStudio/" class="twitter" target="_blank">1</a>
							<a href="https://www.facebook.com/InouiStudio" class="facebook" target="_blank">2</a>
							<a href="http://vimeo.com/inouistudio" class="vimeo" target="_blank">3</a>
							<a href="https://github.com/inoui" class="github" target="_blank">r</a>

    					</div>					
    				</div>
					<div id="map"></div>

				</div>
			</section>

			<section id="projects" class="part">
				<div class="content" >
					
					<div id="mask">
						<ul class="tools">
							<li class="action" data-action="closeProject"><a href="#"><img src="img/close.png" alt="" /></a></li>
							<li class="action" data-action="nextProject"><a href="#"><img src="img/next.png" alt="" /></a></li>
						</ul>
						<div class="project"> </div>
					</div>


					<div class="work action" data-color="dddde8" data-action="work" data-work="microsoft-creative-gallery" data-title="Creative Gallery">
						<img src="/media/microsoft-creative-gallery/thumbnail.jpg" alt="" class="img-responsive"/>
						<div class="infos">
							<h2><a href="/projects/palais-de-tokyo-microsoft">Palais de Tokyo - Microsoft</a></h2>
						</div>
				
						<div class="description">
							<h2>MICROSOFT CREATIVE GALLERY</h2>
							<div class="details">
							<p>Installation @ Palais de Tokyo<br/>
								OpenFrameworks development,<br/>painting and drawing, projection<br>
								Client: Microsoft</p>
							</div>
						</div>

					</div>


						<div class="work action" data-color="fcf0e1" data-action="work" data-work="dg" data-title="Dolce & Gabbana Website">
							<img src="/media/dg/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/dolce-gabanna">Dolce & Gabbana.com </a></h2>
							</div>

							<div class="description">
								<h2>DOLCE & GABBANA</h2>
								<div class="details">
									<p>F/W 13 Website<br>HTML5, JS & Flash Development</p>
									<p>Client: Hi-ReS!</p>
									<p><a href="http://dolcegabbana.com" target="_BLANK">dolcegabbana.com</a></p>
								</div>									
							</div>

						</div>

						<div class="work action" data-color="e4ead1" data-action="work" data-work="dore" data-medium="68046470" data-title="Dore TV Ad">
							<img src="/media/dore/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/dore">Dore TV Ad</a></h2>
							</div>
					
							<div class="description">
								<h2>Dore</h2>
								<div class="details">
									<p>TV AD / Set Design & Art Direction<br>
									Client: DDB ISTANBUL</p>
								</div>
									
							</div>

						</div>
						



						<div class="work action" data-color="eadfca" data-action="work" data-work="monsieur-honore" data-title="Monsieur Honore Website">
							<img src="/media/monsieur-honore/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/monsieur-honore">L'adorable cabinet de curiosité de Monsieur Honore</a></h2>
							</div>

							<div class="description">
								<h2>Monsieur Honore</h2>
								<div class="details">
									<p>Design and development E-commerce<br>
										Client: Monsieur Honoré</p>
									<p><a href="http://monsieur-honore.com" target="_BLANK">monsieur-honore.com</a></p>
								</div>
							</div>

						</div>


						<div class="work action" data-color="d2e3e9" data-action="work" data-work="mystic-forest"  data-title="Mystic Forest">
							<img src="/media/mystic-forest/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/mystic-forest">Mystic Forest</a></h2>
							</div>
					
							<div class="description">
								<h2>Mystic Forest</h2>
								<div class="details">
									<p>Window Display / Light Installation<br>
										Client: Martinique Japan</p>
								</div>										
							</div>

						</div>





						<div class="work action" data-color="cde0de" data-action="work" data-work="harrods"  data-title="Harrods.com">
							<img src="/media/harrods/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/harrods">Harrods.com</a></h2>
							</div>
					
						
							<div class="well description">
								<h2>Harrods</h2>
								<div class="details">								
								<p>HTML5, JS, SEO optimization<br>
									Client: Harrods</p>
								<p><a href="http://harrods.com" target="_BLANK">harrods.com</a></p>
								</div>
							</div>

						</div>

						<div class="work action" data-color="ebe7f6"  data-action="work" data-work="rochas" data-title="Rochas">
							<img src="/media/rochas/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/rochas">Rochas</a></h2>
							</div>
						
							<div class="description">
								<h2>Rochas</h2>
								<div class="details">
								<p>Packaging<br>
									Client: Rochas</p>
								</div>
							</div>

						</div>

						<div class="work action" data-color="75a8ac"  data-action="work" data-work="prada" data-title="Paper Prada">
							<img src="/media/prada/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/prada">Paper Prada</a></h2>
							</div>
					
							<div class="description">
								<h2>Paper Prada</h2>
								<div class="details">								
								<p>Paper Set Illustrations<br/>
									Client: Decouture.com</p>
								</div>
							</div>

						</div>

						<div class="work action" data-color="e5d5d4"   data-action="work" data-work="lexpress" data-title="L'Express">

							<img src="/media/lexpress/thumbnail.jpg" alt="" class="img-responsive"/>

							<div class="infos">
								<h2><a href="/projects/l-express">L'Express Perfumes</a></h2>
							</div>

							<div class="description">
								<h2>Perfumes</h2>
								<div class="details">								
								<p>Photoshoot and Illustration<br/>
									Client: L’Express France</p>
								</div>
							</div>

					
						</div>
						
						
						<div class="work action" data-color="ffeacf" data-action="work" data-work="hires" data-title="Hi-ReS! Website">
							<img src="/media/hires/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/hi-res">Hi-ReS!</a></h2>
							</div>
					
							<div class="description">
								<h2>Hi-ReS! Website</h2>
								<div class="details">
									<p>Front end and Back end development<br>
									Client: Hi-ReS!</p>
									<p><a href="http://hi-res.net" target="_BLANK">hi-res.net</a></p>
									
								</div>
									
							</div>

						</div>

						<div class="work action" data-color="cee0c9" data-action="work" data-work="hogan" data-title="Hogan Website">
							<img src="/media/hogan/thumbnail.jpg" alt="" class="img-responsive"/>
							<div class="infos">
								<h2><a href="/projects/hogan">Hogan.com</a></h2>
							</div>

							<div class="description">
								<h2>hogan</h2>
								<div class="details">
								<p>HTML5, JS, Front end development<br>
									Client: Hi-ReS!</p>
								<p><a href="http://hogan.com" target="_BLANK">hogan.com</a></p>
								</div>
							</div>

						</div>

				</div>
			</section>



		</div>


		
		<script type="text/template" id="workTpl">
		<div class="projectReicept">
			<div class="description">
				<%= desc %>
			</div>
			<div class="img-receipt" >
			
			<% if (!isNaN(parseFloat(medium)) && isFinite(medium)) {%>

				<img src="http://placehold.it/640x360" class="video-thumb" data-vimeo-id="<%= medium %>" />
			<% } %>
				<% _.each(images, function(image) { %> 
					<img src="<%= image %>" alt="" class="img-responsive hidden"/>
				<%});%>
			</div>
		</div>
		</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/masonry.pkgd.min.js"></script>
        <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="js/vendor/jquery-smartvimeoembed.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-122783-64', 'inoui.io');
		  ga('send', 'pageview');

		</script>

		
    </body>
</html>
